<aside class="sidebar">
    <div class="logo">
        <!-- Тут может быть логотип -->
    </div>
    <nav>
        <ul>
            <li class="nav-item">
                <img src="assets/icons/modelsIcon.svg" alt="3D модели" />
                <span>3D-модели</span>
            </li>
            <li class="nav-item active">
                <img src="assets/icons/tasks.svg" alt="Твое обучение" />
                <span>Твое обучение</span>
            </li>
            <li class="nav-item">
                <img src="assets/icons/progress.svg" alt="Твое обучение" />
                <span>Прогересс</span>
            </li>
        </ul>
    </nav>
</aside>